<%= "Welcome #{current_user.username}"%>

<table>
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Link</td>
		</tr>
	</thead>

	<tbody>
		<% @list_items.each do |l| %>
			<tr>
				<td><%= l.product.name %></td>
				<td><%= l.product.link %></td>
			</tr>
		<% end %>
	</tbody>
</table>
