<table>
	<thead>
		<tr>
			<th>User ID</th>
			<th>Product ID</td>
		</tr>
	</thead>

	<tbody>
		<%= @list_items.each do |l| %>
			<tr>
				<td><%= l.user_id %></td>
				<td><%= l.product_id %></td>
			</tr>
		<% end %>
	</tbody>
</table>
